In [3]:
import numpy as np
import csv

# NUMPY REAL CASE STUDY

## LOADING DATA DENGAN NUMPY

In [4]:
# BACA CSV MENGGUNAKNA PYTHON  BUILT-IN UNTUK HANDLER HEADER
with open('C:/Users/test/OneDrive/Desktop/PYTHON/dataset/SuperMarketAnalysis.csv', 'r') as f:
    reader = csv.reader(f)
    header = next(reader) # skip header
    data = list(reader)

print(f"DATA BERHASIL DIMUAT : {len(data)} baris")
print(f"Kolom : {','.join(header)}")

DATA BERHASIL DIMUAT : 1000 baris
Kolom : ï»¿Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating

# MENAMPILKAN HEADER DENGAN INDEX

In [6]:
print("STUKRUR KOLOM : ")
for i, col in enumerate(header):
    print(f"    [{i:2d} {col}")

STUKRUR KOLOM :
    [ 0 ï»¿Invoice ID
    [ 1 Branch
    [ 2 City
    [ 3 Customer type
    [ 4 Gender
    [ 5 Product line
    [ 6 Unit price
    [ 7 Quantity
    [ 8 Tax 5%
    [ 9 Sales
    [10 Date
    [11 Time
    [12 Payment
    [13 cogs
    [14 gross margin percentage
    [15 gross income
    [16 Rating

# PREVIEW 5 BARIS PERTAMA

In [7]:
for i, row in enumerate(data[5],1):
    print(f"\n--- BARIS {i} ----")
    for j, (col_name, value) in enumerate(zip(header,row)):
        # format khushs unutk kolom numerik
        if j >=6 and j!= 10 and j != 11 and j!= 12: # ski[ date, time , payment
            try:
                val_float = float(value)
                print(f"    {col_name:25} : {val_float: >10.2f}")
            except:
                print(f"    {col_name:25} : {value}")
            else:
                print(f"    {col_name:25} : {value}")

--- BARIS 1 ----
    Unit price                : -
    Quantity                  :       3.00
    Quantity                  : 3
    Tax 5%                    :       0.00
    Tax 5%                    : 0
    Sales                     :       2.00
    Sales                     : 2

--- BARIS 2 ----

--- BARIS 3 ----
    Unit price                : t
    Quantity                  : a
    Tax 5%                    : w

--- BARIS 4 ----

--- BARIS 5 ----

--- BARIS 6 ----
    Unit price                : o
    Quantity                  : n
    Tax 5%                    : i
    Sales                     : c
    cogs                      : c
    gross margin percentage   : e
    gross income              : s
    Rating                    : s

--- BARIS 7 ----

--- BARIS 8 ----

--- BARIS 9 ----
    Unit price                :       5.00
    Unit price                : 5

--- BARIS 10 ----
    Unit price                :       6.00
    Unit price                : 6
    Quantity                  :       5.00
    Quantity                  : 5

--- BARIS 11 ----
    Unit price                :       0.00
    Unit price                : 0
    Quantity                  :       1.00
    Quantity                  : 1
    Tax 5%                    :       9.00
    Tax 5%                    : 9

--- BARIS 12 ----
    Unit price                :       0.00
    Unit price                : 0
    Quantity                  :
    Tax 5%                    : P
    Sales                     : M

--- BARIS 13 ----
    Unit price                : t

--- BARIS 14 ----

--- BARIS 15 ----
    Unit price                :       0.00
    Unit price                : 0
    Quantity                  :       4.00
    Quantity                  : 4
    Tax 5%                    :       7.00
    Tax 5%                    : 7
    Sales                     :       6.00
    Sales                     : 6

--- BARIS 16 ----
    Unit price                :       5.00
    Unit price                : 5

--- BARIS 17 ----

# info tambahan

In [8]:
print("INFO DATASET")
print()
print(f"    TOTAL TRANSAKSI     :   {len(data)}")
print(f"    KOLOM               : {','.join(header)}")
print(f"    KOLOM NUMERIK       :   Unit Price, Quantity, Tax 5%, Total, cogs, gross income, Rating")
print(f"    Branch, City, Customer type, Gender, Product line, Payment")
print(f"    Kolom Datetime      : Date, Time")

INFO DATASET

    TOTAL TRANSAKSI     :   1000
    KOLOM               : ï»¿Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
    KOLOM NUMERIK       :   Unit Price, Quantity, Tax 5%, Total, cogs, gross income, Rating
    Branch, City, Customer type, Gender, Product line, Payment
    Kolom Datetime       : Date, Time

# konversi ke numpy arrays

In [10]:
# konversi ke numpy array untuk kolom numerik yang dibutuhkan
# kolom : unit price(6), quantity(7), tax(8), total(9), cogs(13), gross income(15), rating(16)

unit_price = np.array([float(row[6]) for row in data])
quantity = np.array([int(row[7]) for row in data])
tax = np.array([float(row[8]) for row in data])
total = np.array([float(row[9]) for row in data])
gross_income = np.array([float(row[15]) for row in data])
rating = np.array([float(row[16]) for row in data])

# ARRAY KATEGORIKAL

branch = np.array([row[1] for row in data])
city = np.array([row[2] for row in data])
customer_type = np.array([row[3]for row in data])
gender = np.array([row[4] for row in data])
product_line = np.array([row[5] for row in data])
payment = np.array([row[12] for row in data])

# OUTPUT ARRAY NUMERIK

In [12]:
print(f"    Unit Price      : shape {unit_price.shape}, dytpe {unit_price.dtype}")
print(f"    Quantity        : shape {quantity.shape}, dytpe {quantity.dtype}")
print(f"    Total           : shape {total.shape}, dytpe {total.dtype}")
print(f"    Rating          : shape {rating.shape}, dytpe {rating.dtype}")

    Unit Price      : shape (1000,), dytpe float64
    Quantity        : shape (1000,), dytpe int32
    Total           : shape (1000,), dytpe float64
    Rating          : shape (1000,), dytpe float64

# output ARRAY KATEGORIKAL

In [13]:
print(f"    branch          : shape {branch.shape}, dytpe {branch.dtype}")
print(f"    gender          : shape {gender.shape}, dytpe {gender.dtype}")
print(f"    product line    : shape {product_line.shape}, dytpe {product_line.dtype}")

    branch          : shape (1000,), dytpe <U5
    gender          : shape (1000,), dytpe <U6
    product line    : shape (1000,), dytpe <U22

# DATA DALAM NUMPY ARRAY ( 5 PERTAMA )

In [14]:
print(f"    Total       : {total[:5]}")
print(f"    Rating      : {rating[:5]}")
print(f"    Branch      : {branch[:5]}")
print(f"    Gender      : {gender[:5]}")

    Total       : [548.9715  80.22   340.5255 489.048  634.3785]
    Rating      : [9.1 9.6 7.4 8.4 5.3]
    Branch      : ['Alex' 'Giza' 'Alex' 'Alex' 'Alex']
    Gender      : ['Female' 'Female' 'Female' 'Female' 'Female']