# Pandas

## keapa harus bealajar pandas ?

pandas adalah jembatan untuk data mentah dan model ai.  Tanpa pandas kamu akan kesulitan untuk
- membersikhkan data kotor ( 80 % waktu untuk AI engginer di habiskan disini )
- mengubah format data agar bisa di baca algoritma
- eksploarasi data untuk memahami pola
- prepare data sebelum masuk ke Tensorflow/Pytorch/Scikit-Learn

# pandas di pakai untuk apa saja

## 1. data loading ( baca file )

panadas bisa hampir semua format :
- CSV : data paling umum
- excel : file .xlsx dari bisnis
- JSON :  data dari api web
- SQL Data base :  ambil data dari serevr
- arquet : format efisien untuk big data

Kpan dipakai ?
-> setiap awal project! dara selal datang dalam bentuk file

## 2. DATA CLEANING

masalh yang di selesaikan
- missing values (NaN ) -> Model akan error!
- Duplikat data -> akan membuat model overfit
- Tipe data salah - > angka tersimpans egbai text
- outlier ekstem -> merusak akurasi mode

contoh real :
Data surver umur : *[25,27,Nan,150,30]*
-> ada data kosong + ada yang salah (umur 150 )
-> pandas dapat mendeteksi dan memperbaiki

## 3.  FEATURE ENGGINERING ( BIKIN FITUR BARU  )

ini yang bikin model jelek jadi bagus

Machine Learning butuh fitur yang "Berbicara " ke mode :
contoh kasus E-commerce :

Data Mentah :
- Tanggal pembelina : 2024-01-15
- Harga : 500000

Fitur baru yang lebih infromatif :
- Hari dalam seminggu : senin ( orang belanja lebih banyak di weekend>)
- Bulan : Januari ( ada pola musiman ? )
- Jam : 14. 00 (Kapan peak hours )
- Kategori harga : "MAHAL"  / "MURAH"

**Pandas memudahkan:**

- Ekstrak waktu dari tanggal
- Gabungkan beberapa kolom
- Buat kategori dari angka
- Hitung rasio/presentase


## 4. Data Transformation ( ubah format )

masalah : Algoritma hanya mengerti angka
X Model tidak bisa baca "Jakarta","LakiLaki", "Tinggi"
model butuh : [1,0,2] atau [[1,0,0] , [0,1,0],[0,0,1]]

Teknik pandas :

Teknik                  Kapan Dipakai                   Contoh

One-Hot Encoding    Data kategori tanpa urutan          kota:Jakarta->[1,0,0], Bandung->[0,1,0]

Label encoding      Data Kategori Tanpa urutan           Pendidikan : SD= 0, SMP=1,SMA=2

scalling            Angka beda Skala Besar              Gaji(jutaan) vs umur (Puluhan)

Binning             Bikin group dari angka              Umur->Muda/Tua


## 5. Data Aggregation ( Ringkasa )

Kegunaan :
- melihat pola per group ( rata - rata gaji per departermen )
- bikin fitur agregat ( total belanja user dalam 30 hari terakhir )
- summary statisctic untuk EDA ( Exploratorry Data Analysis )

-> smeua dihitung mengguanakn *groupby()*

## 6. Data filtering ( saring data )

kapan dipakai :
- memisahkan training set vs test set
- Buang outlier ekstrem
- Ambil subset Data ( misalnya : hanya customer aktif )
- Filter berdasarkan kondsii bisnis


contoh

studi kasuss : model prediksi harga rumah
filter yang sering dipakai
- harga rumah -> 100 juta ( Buang data karena tidak valid )
- luas tanah   -> 100 m2 (fokus ke segment tertentu )
- lokasi in['jakarta','bandung','surabaya']

## 7. exploratory Data Analysis

sebelum membuat sebuah model kita wajib tau :
- apakah distribusi data normal atau skewed
- korelasi antara variabel ( mana yang lebih penting )
- ada pola tersembunyi?

**Tools untuk pandas**
- .describe()   -> statistik dasar
- .corr() -> hubungan antar kolom
- .calue_count()    -> frekuensi kategori
- .groupby()    -> pola pergroup


# workflow ai engginer dengan pandas

1. Load Data ( read_csv, read_Excel)
        |
2. Check Quality ( isnull, duplicated, dytpes )
        |
3. Clean data ( fillna, drop_duplicates, astype)
4. feature engginering ( create new columns, encoding)
5. transform ( scaling, encoding categories )
6. select feature ( correlation ), filter )
7. export celan data - > masuk ke model ml/ dl

# BAGIAN 1  :  DATA LOADING

## tujuan : Belajar memabca data dari berbagai format file

kapan dipakai :  setiap awal prokect ML/AI, dat aselalu dalam bentuk file

file yang akan di baca
- CSV ( paling umum )
- Excel (.xlsx)
- Json ( dari api )
- SQL database
- parquet ( big data )

In [1]:
import numpy as np
import pandas as pd

print("=" * 60)
print("DATA LAODING DAN IMPORT")
print("=" * 60)

============================================================
DATA LAODING DAN IMPORT
============================================================

In [2]:
# BACA FILE CSV
print("\n [1] Membaca sv file \n")

"""
    CARA 1 : Basic ( default )
    df = pd.read_csv('data.csv)

    CARA 2 : dengan option ( Lebih Aman )
    df = pd.read_csv('data.csv',
                        sep=',',                -> pemisah kolom ( default = ,)
                        encoing = 'utf-8',      -> encoding file
                        na_values = ['NA', 'null', ''], -> nilai yang di anggap kosong
                        parse_dates=['Tanggal'],    -> pemisah kolom tanggal otomatis di parse
                        dytpes={'ID' : str})    -> oaksa tipe data tertentu
    """

# SOMULASI KARENA TIDAK ADA FILE MAKA AKAN MEMBUAT DUMMY CSV

print("Simulasi membaca csv :")
csv_data = """ Nama,Umur,Kota,Gaji
Andi,24,Jakarta,50000000
Budi,24,Jakarta,60000000
Citra,,Surabaya,45000000
Dewi,30,Jakarta,80000000
"""

# simpan ke file sementara ( dalam praktek nayta langsung read_csv
with open('temp_data_.csv', 'w') as f:
    f.write(csv_data)

df_csv = pd.read_csv('temp_data_.csv')
print(df_csv)
print(f"\n Info : {df_csv.shape[0]}, baris, {df_csv.shape[1]} kolom")

 [1] Membaca sv file

Simulasi membaca csv :
    Nama  Umur      Kota      Gaji
0   Andi  24.0   Jakarta  50000000
1   Budi  24.0   Jakarta  60000000
2  Citra   NaN  Surabaya  45000000
3   Dewi  30.0   Jakarta  80000000

 Info : 4, baris, 4 kolom

In [4]:
# =========================================================
#. Baca file dari EXCEL ( .xlsx )
# =========================================================

print("membaca file dari excel")

"""
membutuhkan library tambahakn : pip install openpyxl
cara 1 : baca sheet pertama
df = pd.read_excel('data.xlsx')

cara 2 : baca sheet tertentu
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')

cara 3 : baca multiple sheet sekalioigus
df = df.read_excel(data.xlsx, sheet_name='None')    -> semua sheet menjadi dict

"""

# simulasi : mmebuat dataframe dan pura pura jadi excel

df_excel = pd.DataFrame({
    'Produk' : ['laptop', 'Mouse', 'Keyboard'],
    'Harga'   : [8000000,800000,1000000],
    'Stock' : [21,555,212]
})

print("simulalsi data dari exel")
print(df_excel)

membaca file dari excel
simulalsi data dari exel
     Produk    Harga  Stock
0    laptop  8000000     21
1     Mouse   800000    555
2  Keyboard  1000000    212

## baca file json ( dari api web )

In [20]:
"""
JSON biasa datang dari api web atau nosql database

cara 1  : json berbentuk list of record
"""
json_data = '''
[
    {"nama" : "Andi", "Umur" : 25, "Asal" : "Jakarta"},
    {"nama" : "quincy", "Umur" : 19, "Asal" : "bradfort"},
    {"nama" : "maverick", "Umur" : 22, "Asal" : "London"}
]
'''

# BACA DARI STRING ( dalam praktik : pd.read_json('data_json'))
df_json = pd.read_json(json_data)
print("Data dari JSON ( LIST OF RECORDDD : ")
print(df_json)

# CARA KE 2 JSON NESTED,  PERLU NORMALISASI

json_nested = '''
{
"data" : [
    {"id" : 1 , "info" : [{"nama" : "quincy", "umur" : 26}]},
    {"id" : 2 , "info" : [{"nama" : "max", "umur" : 21}]}
]
}
'''

# untuk json nested perlu normalisasi
import json
nested = json.loads(json_nested)
df_nested = pd.json_normalize(nested['data'],
                              record_path=['info'], # masuk ke dalam list info untuk di pecah
                              meta = ['id'] # teteap abwa kalom id dari luar list info
                              )
print("\n data dari json nested : ")
print(df_nested)

Data dari JSON ( LIST OF RECORDDD :
       nama  Umur      Asal
0      Andi    25   Jakarta
1    quincy    19  bradfort
2  maverick    22    London

 data dari json nested :
     nama  umur id
0  quincy    26  1
1     max    21  2

C:\Users\test\Downloads\mingw-w64-ucrt-x86_64-gcc-15.2.0-8-any.pkg\ucrt64\bin\ipykernel_18552\3179470553.py:15: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_json = pd.read_json(json_data)

# baca dari sql database

In [ ]:
# 4 BACA DARI SQL DATA BASE

print("Membaca sql database with pandas")

"""
    membutuhkan library : pip isntall sqlalchemy, pip install psycopg2

    cara koneksi ke data base :
    from sqlalchemy import create_engine

    # Sqlite ( database lokal )
    engine = = create_engine('sqlite://database.db')
    df = pd.read_sql('SELECT * FROM table_name', engine ) -> engine jemabtann untuk menghubungkan python dengan databse

    # postgreSQL
    engine = create_engine('postgresql://user:password@localhost:5432/dbmame')
    df = pd.read_sql('SELECT * FROM users Where ahe > 25', engine

    #MySql
    enine = create_engine('mysql+pymysql://user:passwprd@localhost/dbname')
    df = pd.read_sql_tables('table_name', engine )
    """

print("Contoh syntakx ( btuuh koneksi internet ) :")
print(" df = pd.read_sql('SELECT * FROM users', engine)")
print(" df = pd.read_sql('SELECT * WHERE age > 25', engine)")

# 5. baca file paruet (Big data )

In [ ]:
print("membaca parquet file (Big Data")

# parquet :  format kolom yang efisien, dipakai di big data ( spark,  AWS)
# keuntungan : file kecil, baca lebih cepat , komptes itnggi

# membtuhkan librarty : pip install pyarrow atau pip install fastparquet

# cara [akai :
# df = pd.read_parquet('data.parquet')
#df = pd.read_parquet('data.parquet', engine = 'pyarrow')

# inspeksi data setelah loading

In [31]:
print("inspeksi data ( wajib dilakukan")

# gunakan df_csv sebgai contoh

print("df.head() - lihat 5 baris pertama:")
print()
print(df_csv.head())

print()
print()

print("df.info() - lihat stukrutr data ")
print()
print(df_csv.info())

print()
print()

print("df.shape() - ukuran data : ")
print()
print(f"jumlah baris : {df_csv.shape[0]}, jumlah kolom : {df_csv.shape[1]}")

print()
print()

print("\ndf.columns() - Nama kolom")
print()
print(df_csv.columns.tolist())

print()

print("df.dtypes() - tipe data di setiap kolom")
print()
print(df_csv.dtypes)

print()

print("\n df.desribe() - statistik deskriptif")
print()
print(df_csv.describe())

inspeksi data ( wajib dilakukan
df.head() - lihat 5 baris pertama:

    Nama  Umur      Kota      Gaji
0   Andi  24.0   Jakarta  50000000
1   Budi  24.0   Jakarta  60000000
2  Citra   NaN  Surabaya  45000000
3   Dewi  30.0   Jakarta  80000000


df.info() - lihat stukrutr data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0    Nama   4 non-null      object
 1   Umur    3 non-null      float64
 2   Kota    4 non-null      object
 3   Gaji    4 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes
None


df.shape() - ukuran data :

jumlah baris : 4, jumlah kolom : 4



df.columns() - Nama kolom

[' Nama', 'Umur', 'Kota', 'Gaji']

df.dtypes() - tipe data di setiap kolom

 Nama     object
Umur     float64
Kota      object
Gaji       int64
dtype: object


 df.desribe() - statistik deskriptif

            Umur          Gaji
count   3.000000  4.000000e+00
mean   26.000000  5.875000e+07
std     3.464102  1.547848e+07
min    24.000000  4.500000e+07
25%    24.000000  4.875000e+07
50%    24.000000  5.500000e+07
75%    27.000000  6.500000e+07
max    30.000000  8.000000e+07

# tips penting

1. selalu cek *df.info()* setelah load - > pastikan tipe data benar
2. untuk file besar (>500 mb ) pakai:
        - chunksize = baca perb bagian
            for chunk in pd.read_vsc('big.csv', chunksize=10000):
                process(chunk)

        - usecols : baca kolom tertentu saja
        2. df = pd.read_csv('data.csv', usecols=['nama','gaji'])

3. kalau error encoding coba :
df = pd.read_csv('data.csv' , encoding='latin-1')
    ataui encoding='cp1252'

4. untuk tanggal, selalu parse :
df = pd.read_csb('data.csv', parse_datas=['tanggal'